*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100%;
    scroll-behavior: smooth;
}

header::before{
    content:'';
    background-color: #0a0a0a;
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
}
header{
    position:sticky;
    top:0;
    
}
#home{
    font-size:2.5rem;
    color:#d1252e;
    cursor:pointer;
    z-index: 111;
}

#pdfFile:hover{
    color:red;
}

#pdfFile{
    position:fixed;
    top:10%;
    right:3%;
    word-break:break-all;
    width:8px;
    color:black;
    font-size:1.2rem;
    
}

#home:hover{
    color:white;
}
.fa-angle-double-left{
    position:sticky;
    left:100px;
    font-size:4rem;
    
}

#check{display:none;}

.sideItems{
    background-color: #dbdbdb;
    position:fixed;
    top:40px;
    width:300px;
    height:100%;
    display:block;
    transition:.3s ease-in-out;
}

.sideItems h2{
    margin-top:5px;
    font-size:2rem;
}
.sideItems ul{
    display:block;
    margin-top:15px;
}
.sideItems ul li{
    list-style: none;
    border-bottom: 1px solid green;
    padding-top:15px 
}

.sideItems ul li a{
    text-decoration: none;
    font-size:1.4rem;
    color:black;
}

.sideItems ul li:hover{
    background:#b3b1b1;
}
.sideItems ul li:active{
    background:#16aa60;
}


    .imageList img{
         width:80%;
         z-index:-1;
     }



.container section{
     margin-left:250px; 
     overflow:scroll;
   
}

.head-tag-main{
    display:block;  
    margin-top:10px;
    border-bottom:1px solid rgb(94, 150, 160);
    font-size:1.6em;
    font-weight:600;
    text-align: center;
    text-transform: uppercase;
}

article{
    text-align: center;
    margin-top:10px;
    
}
.head-tag{
    background-color: #e7e4e4;
    
}


@media only screen and (max-width:600px){
     .sideItems{
        width:100%;
        left:-600px;
        position:fixed;
        top:0;
        height: 100%;
        display:block;
        text-align: center;
        z-index: -1;
    }
   

label #bar{
   float:right;
    font-size:2.5rem;
    color:green;
    cursor:pointer;
    z-index:111;
}

#check:checked ~ .sideItems{
    left:0;
}
    
    .container section{
        margin-left:0;
        overflow: scroll;
    }

.imageList img{
         width:100%;
         z-index:-1;
     }

}